# Example workflow that calls the reusable ghstack-merge workflow
# when someone comments "@ghstack merge" on a PR.
#
# To use in your repository:
# 1. Copy this file to .github/workflows/
# 2. Optionally create .github/merge_rules.yaml for merge rules
# 3. Comment "@ghstack merge" on any ghstack PR to trigger landing

name: ghstack merge on comment

on:
  issue_comment:
    types: [created]

jobs:
  check-comment:
    # Only run on PR comments containing '@ghstack merge'
    if: |
      github.event.issue.pull_request &&
      contains(github.event.comment.body, '@ghstack merge')
    runs-on: ubuntu-latest
    outputs:
      should_merge: ${{ steps.check.outputs.should_merge }}
    steps:
      - name: Check if comment triggers merge
        id: check
        run: echo "should_merge=true" >> $GITHUB_OUTPUT

  merge:
    needs: check-comment
    if: needs.check-comment.outputs.should_merge == 'true'
    uses: ezyang/ghstack/.github/workflows/ghstack-merge.yml@master
    with:
      pull_request_number: ${{ github.event.issue.number }}
      validate_rules: true
      comment_on_failure: true
    secrets:
      github_token: ${{ secrets.GITHUB_TOKEN }}
