name: Test
on:
  - pull_request
  - push
jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Install Poetry
        uses: Gr1N/setup-poetry@v4
        with:
          poetry-version: '1.1.4'
      - name: Install dependencies
        run: poetry install
      - name: Run tests
        run: poetry run ./run_tests.sh
